<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Kinesis - Corsi</title>

  <!-- Custom fonts for this theme -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- favicon -->
  <link rel="shortcut icon" type="image/png" href="img/portfolio/fav_omino.png">
  <!-- Theme CSS -->
  <link href="css/freelancer.min.css" rel="stylesheet">

</head>
<body id="page-top">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Corsi</a>
      <a class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" href="/">
        indietro
        <i class="fas fa-backspace"></i>
      </a>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/">Indietro</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead bg-danger text-white text-center">
    <div class="container d-flex align-items-center flex-column">

      <!-- Masthead Heading -->
      <h1 class="masthead-heading text-uppercase mb-0">I NOSTRI CORSI</h1>

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
      </div>

      <!-- Masthead Subheading -->
      <p class="masthead-subheading font-weight-light mb-0">TOTAL BODY</p>
      <p class="masthead-subheading font-weight-light mb-0">FITNESS FUNZIONALE</p>
      <p class="masthead-subheading font-weight-light mb-0">GAG METABOLICO</p>
      <p class="masthead-subheading font-weight-light mb-0">ZUMBA</p>
      <p class="masthead-subheading font-weight-light mb-0">PILATES</p>
      <p class="masthead-subheading font-weight-light mb-0">TRX POSTURALE</p>
      <p class="masthead-subheading font-weight-light mb-0">BACK SCHOOL</p>

    </div>
  </header>

  <div class="container" style="text-align: center; margin-top: 30px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 160%">
      <a href="./img/planning/planning/plan.jpg" download>
        Clicca qui per scaricare il planning dei corsi
      </a>
      
  </div>

  <!-- 1 LINE -->
  <section class="page-section portfolio">
    <div class="container">

      <!-- About Section Content -->
      <div class="row">
        <div class="col-lg-4 ml-auto">
          <p class="masthead-subheading font-weight-bold mb-4">TOTAL BODY</p>
          <p class="lead">L’allenamento total body è un’allenamento completo che va a stimolare tutto il corpo e comprende all’interno di se molte tecniche di allenamento differenti. Si alternano fasi di lavoro aerobico per favorire il miglioramento della capacità cardiovascolare, a fasi di allenamento meno dinamiche dove si eseguono esercizi statici per la tonificazione di braccia, gambe, glutei e addominali.</p>
        </div>
        <div class="col-lg-4 mr-auto">
          <p class="masthead-subheading font-weight-bold mb-4">FITNESS FUNZIONALE</p>
          <p class="lead">Un movimento si dice funzionale quando rispecchia i gesti della vita quotidiana, movimenti naturali realizzati grazie alla contrazione sinergica di piu' gruppi muscolari. Scopo di questo allenamento è viluppare un corpo bello, armonico e forte tramite esercizi che richiamano le funzioni base per cui è nato.</p>
        </div>
        <div class="col-lg-4 mr-auto">
          <p class="masthead-subheading font-weight-bold mb-4">GAG METABOLICO</p>
          <p class="lead">Gag è un’allenamento di fitness mirato per gambe , addominali e glutei e più in generale per la parte inferiore del corpo.L’allenamento prevede una varietà di esercizi da eseguire con diversa intensità, e che consentono di tonificare tutta la fascia addominale, interno ed esterno coscia, il medio e piccolo gluteo.</p>
        </div>
      </div>

      <!-- Portfolio Grid Items -->
      <div class="row">
        <!-- Portfolio Item 1 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto">
            <img class="img-fluid" src="img/portfolio/totalbody.jpg" alt="">
          </div>
        </div>

        <!-- Portfolio Item 2 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto">
            <img class="img-fluid" src="img/portfolio/fitnessfunzionale.jpg" alt="">
          </div>
        </div>

        <!-- Portfolio Item 3 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto">
            <img class="img-fluid" src="img/portfolio/gag.jpg" alt="">
          </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
  </section>



  <!-- 2 LINE -->
  <section class="page-section portfolio">
    <div class="container">

      <!-- About Section Content -->
      <div class="row">
        <div class="col-lg-4 ml-auto">
          <p class="masthead-subheading font-weight-bold mb-4">ZUMBA</p>
          <p class="lead">Lo Zumba Fitness è un sistema innovativo per allenare tutto il corpo in maniera semplice e divertente, accompagnati dai ritmi musicali.</p>
        </div>
        <div class="col-lg-4 mr-auto">
          <p class="masthead-subheading font-weight-bold mb-4">PILATES</p>
          <p class="lead">Il metodo Pilates è un sistema di allenamento che mira a rafforzare il corpo, a modellarlo, a correggere la postura e a migliorare la fluidità e la precisione dei movimenti. Movimenti lenti, grande concentrazione e attenzione alla respirazione.</p>
        </div>
        <div class="col-lg-4 mr-auto">
          <p class="masthead-subheading font-weight-bold mb-4">TRX POSTURALE</p>
          <p class="lead">Allenamento funzionale che permette di svincolarsi dalla monotonia della sala pesi. Con questa tipologia di allenamento ci si mette in gioco con un esercizio fisico divertente, riparatorio e sempre nuovo.</p>
        </div>
      </div>

      <!-- Portfolio Grid Items -->
      <div class="row">
        <!-- Portfolio Item 1 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto">
            <img class="img-fluid" src="img/portfolio/zumba.jpg" alt="">
          </div>
        </div>

        <!-- Portfolio Item 2 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto">
            <img class="img-fluid" src="img/portfolio/pilates.png" alt="">
          </div>
        </div>

        <!-- Portfolio Item 3 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto">
            <img class="img-fluid" src="img/portfolio/trxpostural.jpg" alt="">
          </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
  </section>


  <!-- 3 LINE -->
  <section class="page-section portfolio">
    <div class="container">

      <!-- About Section Content -->
      <div class="row">
        <div class="col-lg-4 ml-auto">
          <p class="masthead-subheading font-weight-bold mb-4">BACK SCHOOL</p>
          <p class="lead">La Back School, ovvero la scuola della schiena, nasce con lo scopo di insegnare ed educare ad un uso sano della schiena, attraverso esercizi e posture, secondo quelli che sono i principi chinesiologici che la governano.</p>
        </div>
        <div class="col-lg-4 mr-auto">
          <p class="masthead-subheading font-weight-bold mb-4"></p>
          <p class="lead"></p>
        </div>
        <div class="col-lg-4 mr-auto">
          <p class="masthead-subheading font-weight-bold mb-4"></p>
          <p class="lead"></p>
        </div>
      </div>

      <!-- Portfolio Grid Items -->
      <div class="row">
        <!-- Portfolio Item 1 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto">
            <img class="img-fluid" src="img/portfolio/back-school.jpg" alt="">
          </div>
        </div>
      <!-- /.row -->

    </div>
  </section>


  

  <!-- Footer -->
  <footer class="footer text-center" id="orari">
    <div class="container">
      <div class="row">

        <!-- Footer Location -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <p class="lead mb-0">KINESIS di Bernardelli Antonella & C. S.A.S.
            <br>Via Ugo Foscolo
            <br>46026 Quistello (MN)
            <br>P.IVA 02192200208</p>
        </div>

      </div>
    </div>
  </footer>

  <!-- Copyright Section -->
  <section class="copyright py-4 text-center text-white">
    <div class="container">
      <small>Copyright &copy; Kinesis 2019 - Morgan Malavasi</small>
    </div>
  </section>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/freelancer.min.js"></script>
</body>

</html>