<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Kinesis - Osteopatia</title>

  <!-- Custom fonts for this theme -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- favicon -->
  <link rel="shortcut icon" type="image/png" href="img/portfolio/fav_omino.png">
  <!-- Theme CSS -->
  <link href="css/freelancer.min.css" rel="stylesheet">

</head>
<body id="page-top">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Osteopatia</a>
      <a class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" href="/">
        indietro
        <i class="fas fa-backspace"></i>
      </a>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/">Indietro</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead bg-info text-white text-center">
    <div class="container d-flex align-items-center flex-column">

      <!-- Masthead Heading -->
      <h1 class="masthead-heading text-uppercase mb-0">ALBERTO MALAVASI</h1>

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
      </div>

      <!-- Masthead Subheading -->
      <p class="masthead-subheading font-weight-light mb-0">OSTEOPATA D.O.M.ROI</p>
      <p class="masthead-subheading font-weight-light mb-0">DOCENTE SCIENZE MOTORIE</p>
      <p class="masthead-subheading font-weight-light mb-0">MASSOFISIOTERAPISTA</p>
      <p class="masthead-subheading font-weight-light mb-0">KINESIOLOGO</p>

    </div>
  </header>

  <!-- Prenotations Section -->
  <section class="page-section portfolio">
    <div class="container">

      <!-- About Section Content -->
      <div class="row">
        <div class="col-lg-4 ml-auto">
          <p class="lead">Attraverso una valutazione osteopatica, individua la “disfunzione somatica”, espressione dell’alterazione dello stato di salute causato da eventi stressanti esterni o interni all’organismo, come traumi e/o patologie. Solitamente si manifestano principalmente sul sistema muscolo scheletrico con dolore o riduzione di mobilità. L’osteopata, attraverso tecniche specifiche, stimola il ripristino della mobilità fisiologica a livello dei diversi sistemi (circolatorio, respiratorio, fasciale, nervoso, muscolo-scheletrico) che attraverso un’attività sinergica e coordinata, regolano il normale funzionamento dell’organismo.</p>
        </div>
        <div class="col-lg-4 mr-auto">
          <p class="lead">La “disfunzione somatica”, di competenza esclusivamente osteopatica, è stata codificata nella decima edizione (ICD 10) dell’International Classification of Diseases, Injuries and Causes of Death dell’Organizzazione Mondiale della Sanità (OMS – WHO), al Settore XIII (Malattie del sistema osteomuscolare e del tessuto connettivo) Codice M99 (Lesioni biomeccaniche non classificate altrove). Ciò rappresenta un chiaro passo avanti verso l’integrazione dell’osteopatia all’interno del sistema sanitario globale.</p>
        </div>
        <div class="col-lg-4 mr-auto">
          <p class="lead">In letteratura sono presenti molti lavori scientifici che attestano l’efficacia dell’osteopatia come disciplina autonoma, in quanto caratterizzata da un proprio ragionamento clinico, di comprovata efficacia, che permette di identificare la diagnosi osteopatica e la pianificazione del miglior piano terapeutico in funzione di cinque modelli di riferimento per il trattamento osteopatico. Dopo avere definito la diagnosi, il piano terapeutico e il modello di riferimento per il trattamento, l’osteopata considera anche i fattori interni (sociali e affettivi) ed esterni (lavoro, stress, etc.) del paziente, in linea con le ICF, International Classification of Functioning, Disability and Health.</p>
        </div>
      </div>

      <!-- Portfolio Grid Items -->
      <div class="row">
        <!-- Portfolio Item 1 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto">
            <img class="img-fluid" src="img/portfolio/Osteopatia-1.jpg" alt="">
          </div>
        </div>

        <!-- Portfolio Item 2 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto">
            <img class="img-fluid" src="img/portfolio/Osteopatia-2.jpeg" alt="">
          </div>
        </div>

        <!-- Portfolio Item 3 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto">
            <img class="img-fluid" src="img/portfolio/roi.jpg" alt="">
          </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
  </section>

  <!-- Footer -->
  <footer class="footer text-center" id="orari">
    <div class="container">
      <div class="row">

        <!-- Footer Location -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <p class="lead mb-0">KINESIS di Bernardelli Antonella & C. S.A.S.
            <br>Via Ugo Foscolo
            <br>46026 Quistello (MN)
            <br>P.IVA 02192200208</p>
        </div>

      </div>
    </div>
  </footer>

  <!-- Copyright Section -->
  <section class="copyright py-4 text-center text-white">
    <div class="container">
      <small>Copyright &copy; Kinesis 2019 - Morgan Malavasi</small>
    </div>
  </section>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/freelancer.min.js"></script>
</body>

</html>