<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Kinesis - Promozioni</title>

  <!-- Custom fonts for this theme -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- favicon -->
  <link rel="shortcut icon" type="image/png" href="img/portfolio/fav_omino.png">
  <!-- Theme CSS -->
  <link href="css/freelancer.min.css" rel="stylesheet">

</head>
<style>
.divTable{
	display: table;
	width: 90%;
    margin-left: 10px;
    margin-right: 10px;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #ffffff;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #ffffff;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #ffffff;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #ffffff;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

</style>

<body id="page-top">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Promozioni</a>
      <a class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" href="/">
        indietro
        <i class="fas fa-backspace"></i>
      </a>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/">Indietro</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead bg-success text-white text-center">
    <div class="container d-flex align-items-center flex-column">

      <!-- Masthead Heading -->
      <h1 class="masthead-heading text-uppercase mb-0">PROMOZIONI</h1>

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
      </div>

      <!-- Masthead Subheading -->
      <p class="masthead-subheading font-weight-light mb-0">2019/2020</p>

    </div>
  </header>

  <!-- Prenotations Section -->
  <section class="page-section portfolio">

        <div class="divTable" style="border: 0px solid #ffffff;">
            <div class="divTableBody">
                <div class="divTableRow">
                    <div class="divTableCell">&nbsp;Abbonamento annuale sala</div>
                    <div class="divTableCell">&nbsp;370&euro;</div>
                </div>
            </div>
        </div>

    </br>
        <div class="divTable" style="border: 0px solid #000;">
            <div class="divTableBody">
                <div class="divTableRow">
                    <div class="divTableCell">&nbsp;Abbonamento annuale sala rateizzato</div>
                    <div class="divTableCell">199&euro; + 199&euro; (seconda rata entro il 31 dicembre)</div>
                </div>
            </div>
        </div>

    </br>
        <div class="divTable" style="width: 90%; border: 1px solid #000;">
            <div class="divTableBody">
                <div class="divTableRow">
                    <div class="divTableCell">Questo abbonamento permette di partecipare ai corsi&nbsp;</div>
                </div>
            </div>
        </div>
    
    </br>
    </br>
    </br>

        <div class="divTable" style="border: 0px solid #000;">
            <div class="divTableBody">
                <div class="divTableRow">
                    <div class="divTableCell">&nbsp;Abbonamento 9 mesi corsi</div>
                    <div class="divTableCell">&nbsp;300&euro;</div>
                </div>
            </div>
        </div>  
    
    </br>
        <div class="divTable" style="width: 90%; border: 1px solid #000;">
            <div class="divTableBody">
                <div class="divTableRow">
                    <div class="divTableCell">I corsi iniziano il 16 settembre e terminano il 16 giugno 2020 &nbsp;</div>
                </div>
            </div>
        </div>

    </br>
    </br>
    </br>

        <div class="divTable" style="border: 0px solid #000;">
            <div class="divTableBody">
                <div class="divTableRow">
                    <div class="divTableCell">&nbsp;Mensile Promozionale</div>
                    <div class="divTableCell">&nbsp;39&euro;</div>
                </div>
            </div>
        </div>  
    
    </br>
        <div class="divTable" style="width: 90%; border: 1px solid #000;">
            <div class="divTableBody">
                <div class="divTableRow">
                    <div class="divTableCell">Mensile full valido esclusivamente entro il 15 settembre &nbsp;</div>
                </div>
            </div>
        </div>

  </section>

  <!-- Footer -->
  <footer class="footer text-center" id="orari">
    <div class="container">
      <div class="row">

        <!-- Footer Location -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <p class="lead mb-0">KINESIS di Bernardelli Antonella & C. S.A.S.
            <br>Via Ugo Foscolo
            <br>46026 Quistello (MN)
            <br>P.IVA 02192200208</p>
        </div>

      </div>
    </div>
  </footer>

  <!-- Copyright Section -->
  <section class="copyright py-4 text-center text-white">
    <div class="container">
      <small>Copyright &copy; Kinesis 2019 - Morgan Malavasi</small>
    </div>
  </section>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/freelancer.min.js"></script>
</body>

</html>