
<!-- Tutorial URL: http://sixrevisions.com/css/responsive-background-image/ -->

<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>KINESIS - PROMO</title>
  
</head>
<body>
  
</body>
</html>