<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Kinesis - Lista lezioni</title>
</head>

<body>
    <div class="container">
        <h1>Lista lezioni nel database</h1>
        <h4>Il tasto rimuovi elimina la lezione per il determinato giorno</h4>
        </br>

        <% function getStringDate(day) { 
            let dayDateFormat = new Date(day);
            let d = dayDateFormat.getDay();
            let dX = dayDateFormat.getUTCDate() + 1;
            let m = dayDateFormat.getMonth() + 1;
            let y = dayDateFormat.getFullYear();
            let dayString = getDayString(d);
            let newDay =  dayString + " " + dX + "/" + m + "/" + y;
            return newDay;
        } %>

        <% function getDayString(d){
            switch (d) {
                case 0:
                    return "domenica";
                    break;
                case 1:
                    return "lunedi";
                    break;
                case 2:
                    return "martedi";
                    break;
                case 3:
                    return "mercoledi";
                    break;
                case 4:
                    return "giovedi";
                    break;
                case 5:
                    return "venerdi";
                    break;
                case 6:
                    return "sabato";
                    break;
                default:
                    return "";
            }
        } %>


        <% if (stackLessons != 'undefined') { %>
        <ul class="list-group list-group-flush">
            <% for (let prop in stackLessons) { %>
            <li class="list-group-item" style="font-size: 18px">
                <%= stackLessons[prop].name + ' ---- ' +  getStringDate(stackLessons[prop].day) %>
                <a href="/admin/delete/lesson/?idLesson=<%=stackLessons[prop]._id%>" class="btn btn-danger"
                    style="float: right;">Rimuovi</a>
                <a href="/admin/listusersinlesson/?idLesson=<%=stackLessons[prop]._id%>" class="btn btn-primary"
                    style="float: right; margin-right: 10px">Vedi Iscritti</a>
            </li>
            <% } %>
        </ul>
        <% } %>
        <% if (msg != 'undefined'){ %>
        <h4><%=msg%></h4>
        <% }; %>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>